<%
  if local_assigns[:ownership]
    sender_class = message.user == current_user ? "message-mine" : "message-other"
  else
    sender_class = ""
  end
%>

<div class="message <%= sender_class %>">
  <div><%= message.body %></div>
  <small class="text-muted"><%= time_ago_in_words(message.created_at) %></small>
  <%= image_tag message.user.avatar, class: "img-circle small-avatar", width: 36 %>
</div>


