// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;


$black: rgb(34, 34, 34);
$red: rgb(212, 20, 49);
$light-grey: rgb(204, 204, 204);
$other-grey: rgb(235, 229, 229);
$dark-grey: rgb(115, 115, 115);
