<div class="container">
  <div class="message">
    <%= render collection: @messages, partial: "messages/message" %>
  </div>
  <div class="form">
    <%= simple_form_for [@conversation,@message], :method => :post, remote: true do |f| %>
      <%= f.input :body, as: :text, id: 'text_message'  %>
      <%= f.button :submit, id: 'send' %>
    <% end %>
  </div>
</div>
