
<%= session[:books].count %>
<div class="container">
<%= render 'books/search'  %>
  <div id="book-results">
</div>

<% if (user_signed_in? && current_user.readings.count >= 5) || session[:books].count >= 5 %>
  <%= link_to "GO",  users_path, class: "btn btn-primary stat-display", id: "btn-path" %>
<% else %>
  <%= link_to "GO",  users_path, class: "btn btn-primary stat", id: "btn-path" %>
<%end %>
</div>
