<div class="search-bar">
  <%= simple_form_for(:search, url: search_books_path, remote: true) do |f| %>
    <%=f.input :query, placeholder: "Entrer un titre, un auteur", input_html: { class: 'special' }%>

    <span class="hidden-xs">
      <%= f.button :submit,'Rechercher', button_html: { class: 'special-input ' } %>
    </span>

    <span class="hidden-sm hidden-md hidden-lg">
      <%= f.button :button do %>
        <i class="fas fa-search"></i>
      <% end %>
    </span>

  <% end %>

</div>
