.blur {
  filter: blur(7px);
}
.no-log {
  text-align: center;
  top: 10vh;
  left: 20vw;
  z-index: 5;
  position: fixed;
  width: 60vw;
  height: 80vh;
  background-color:rgba(243, 243, 243, 0.9);
  border-radius: 3px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.21)
}
.no-log h1{
    margin: 20vh 10vw 0 10vw ;
}
.no-log .btn{
    margin-top: 10vh;
    font-weight: bold;
}
