.book {
  margin-bottom: 40px;
  text-align:center;
  height: 330px;
  .top {
    height: 30px;
    .cover-book{
      z-index: 3;
      width: 128px;
      height: 200px;
      box-shadow: 1px 1px rgba(0, 0, 0, 0.15);
    }
  }
  .book-brackground {
    padding-top: 190px;
    z-index: 1;
    bottom: 0px;
    border-radius: 12px;
    background-color: #FFF;
    height: 260px;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.15);

    .fas {
      position: absolute;
      right: 20px;
      top: 170px;
      font-size: 2.5em;
      text-decoration: none;
    }

    .fa-plus-circle{
      color: $blue;
      &:hover{
        color: #2173b9;
      }
    }
    .fa-minus-circle{
      color: $red;
    }
    .fa-check-circle{
      color: $green;
    }
  }
  .book-info {
    h4{
      font-size: 16px;
      margin: 0;
      overflow: hidden;
      height: 32px;
      text-overflow: ellipsis;
    }
    p{
      margin-top: 5px;
      color: gray;
      font-size: 12px;
    }
  }
}
.display {
  display: none;
}

///////////////////////////////////////////////////
.book-users-Index {

.book {
  margin-bottom: 20px;
  text-align:center;
  height: 230px;
  .top {
    height: 30px;
    .cover-book{
      z-index: 3;
      width: 128px;
      height: 200px;
      box-shadow: 1px 1px rgba(0, 0, 0, 0.15);
    }
  }
    .book-brackground {
      padding-top: 190px;
      z-index: 1;
      bottom: 0px;
      border-radius: 12px;
      background-color: #FFF;
      height: 260px;
      box-shadow: 2px 3px rgba(0, 0, 0, 0.15);

      .fas {
        position: absolute;
        right: 20px;
        top: 170px;
        font-size: 2.5em;
        text-decoration: none;
      }
    }
  }
}
