.stat {
  display: none;
  transform: translateY(200px);
}
.stat-display {
  display:block;
  height: 60px;
  display: block;
  position: fixed;
  bottom: 0px;
  width: 100vw;
  font-size: 19px;
  padding-top: 16px;

  transform: translateY(Opx);
  transition: transform ease 300ms;
}
