.messagerie{
  padding-top: 20px;
}
.content-message {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  height: 100px;
  position: relative;
  background-color: white;
  margin-bottom: 20px;
  padding: 20px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:hover {
    zoom: 1.02;
    background-color: rgba(92, 181, 237, 0.1);

  }
}

.content-img .sm-avatar{
  width: 80px;
  height: 80px;
  border-radius: 40px;
  border: 2px solid $blue;
}

.info-users{
  flex: 1 0 auto;
  padding: 20px;
  margin: 20px;
  color: $blue;
}

.msg{
  width: 200px;
  color: gray;

  font-weight: lighter;
  z-index: 5;
}
.card-info{
  color: #2C2C2C;
}
.conversation-link{
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
}
.time{
  opacity:0.5;
}
