.notifications {
  position: fixed;
  top:75px;
  width: 100%;
  right: 0;
  height: 50vh;
  z-index: 100;
  max-width: 380px;
}
.notification{
  background-color: white;
  height: 80px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-bottom: 3px;
  padding: 2px;
  .info-notif{
    display: inline-block;
    .small-avatar{
    }
    .sender-name{
      font-size: 20px;
      font-weight: bold;
      display:inline;
      margin-left: 10px;
      color: $blue;
    }
  }
  .message-notif{
    padding: 0px 10px 0px 10px;
    height: 40px;
    overflow: hidden;
  }
}
