.notifications {
  position: fixed;
  top:75px;
  width: 100%;
  right: 0;
  z-index: 100;
  max-width: 380px;
  a{
    text-decoration:none;
    color: gray;
  }
}


.notification {
  animation: notificationSlide 5.5s;
  animation-fill-mode: forwards;
  background-color: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin: 5px;
  padding: 5px;

  .fa-times-circle{
    position: absolute;
    top: 3px;
    right: 5px;
    &:hover{
      color: $blue;
    }
  }
  .info-notif{
    display: inline-block;
    .small-avatar{
    }
    .sender-name{
      font-size: 20px;
      font-weight: bold;
      display:inline;
      margin-left: 10px;
      color: $blue;
    }
  }
  .message-notif{
    padding: 0px 10px 0px 30px;
    height: 40px;
    overflow: hidden;
  }
}


@keyframes notificationSlide {
  0% {
    transform: translateX(400px);
  }

  10% {
    transform: translateX(0);
  }

  90% {
    transform: translateX(0) translateY(0);
    height: auto;
    padding: 5px;
    margin: 5px;
  }

  100% {
    transform: translateX(0)  translateY(-200px);
    height: 0px;
    margin: 0px;
    padding: 0px;
  }
}
