.position1{
  font-size: 20px;
  color: #32B796;
  font-weight: bolder;
}

.position2{
  font-size: 20px;
  color: #E67E22;
  font-weight: bolder;
}


.position3{
  font-size: 20px;
  color: #EE5F5B;
  font-weight: bolder;
}
