.search_query label{
  display:none;
}
.search-bar {
  // margin-top: 40px;
  // margin-bottom: 40px;
}
.search-bar  #search_query{
  height: 39.5px;
  width: 85%;
  color: #000000;
  border-radius: 0px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;

}

.search-bar .special-input{
  width: 75%;
  height: 39px;
}
.search-bar .btn-default {
  width: 15%;
  color: white;
  background-color: $blue;
  border-color: $blue;
  border-radius: 0px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.search-bar .form-control {
  border: 1px solid $blue;

}
