.search_query label{
  display:none;
}
.search_query{
  width: 100%;
}
.search-bar  #search_query{
  height: 39.5px;
  width: 100%;
  color: #000000;
  border-radius: 0px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  margin: 0;
}
.search-bar .special-input{
  height: 39px;
}
.search-bar .btn-default {

  color: white;
  background-color: $blue;
  border-color: $blue;
  border-radius: 0px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.search-bar .form-control {
  border: 1px solid $blue;
}
.search-bar .simple_form{
  width: 85%;
  display: inline-flex;
}
.search-bar .form-group{
  margin:0;
  width: 85%;
}
.seaech-bar data-disable-with{
 display:none;
}
